canvas{
  position: absolute;
  top     : 0px;
  left    : 0px;
  z-index : 100;
}

footer {
  position: fixed;
  bottom  : 0px;
  left    : 0px;
}

img{
  position: absolute;
    top: 0px;
    left: 0px;
}